<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="a">
        <button @click="flag=!flag">出现</button>
        <p v-if="r>0.5">随机数大于0.5</p>
        <p v-else="r<0.5">随机数小于0.5</p>
        <hr>
        <p v-if="type==='A'">A</p>
        <p v-else-if="type==='B'">B</p>
        <p v-else-if="type==='C'">C</p>
        <p v-else>差</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        const vm=new Vue({
            el:'#a',
            data :{
                r:Math.random(),
                type:"A"
            },
            methods: {

            }
        })
    </script>
</body>
</html>